.bgWrap {
  position: absolute;
  height: 30vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  padding: 12em;
}

.bgTitle {
  margin: 0;
  font-size: 40px;
  padding-top: 40vh;
  color: #fff;
  text-align: center;
  font-style: bold;
  font-family: var(--font-tanPearl);
}

.bgText {
  margin: 0;
  font-size: 30px;
  color: #fff;
  text-align: center;
  /* font-style: italic; */
  font-family: var(--font-montserrat);
}

.bgLinks {
  text-decoration: none;
  color: #fff;
}